{
     "source": {
         "directories": [
             "src"
         ],
         "excludes": [
             "unit-test",
             "vendor"
         ]
     },
     "timeout": 10,
     "logs": {
         "text": "reports/humbug.log"
     }
 }